
@keyframes animationheader {
    0% {
        opacity: 0;
        transform: translate(0, -100px);
    }

    80% {
        transform: translate(0, -20px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}